// Frameworks

@import "compass";

// External plugins e. g. jQuery plugins

//@import "vendor/plugin-name";

@font-face {  
  font-family: SteelTongs ;  
  src: url( /images/steeltongs_regular.ttf ) format("truetype");  

}  


// Base colors and sizes

$base-color: #e5f3f3;
$alternative-color: #4eb3d6;
$font-color: $base-color;
$link-color: #3F7D99;
$background-color: black;
$alternative-background-color: #074e57;

$base-font-family: "SteelTongs", "arno-pro-1", "arno-pro-2", Georgia, "Times New Roman", serif;
$headline-font-family: "SteelTongs", "trajan-pro-1", "trajan-pro-2", Georgia, "Times New Roman", serif;
$small-font-size: 1em;
$base-font-size: 2em;
$large-font-size: 2.5em;
$x-large-font-size: 3.5em;
$base-line-height: 2em;

// HTML5 boilerplate

@import "html5-boilerplate";
@include html5-boilerplate;

// Global styles used all over the website
// e. g. tags without classes like h1, h2, a, button, form elements, ...

@import "global/extendables";
@import "global/typography";
@import "global/links";
@import "global/buttons";

// Layout (header, footer, global sidebars)

//@import "layouts/default";

// Content partials (article, lists, ...)

@import "partials/site";
