// Frameworks

@import "compass";

// External plugins e. g. jQuery plugins

//@import "vendor/plugin-name";

// Base colors and sizes

$base-color: #e5f3f3;
$alternative-color: #4eb3d6;
$font-color: $base-color;
$link-color: #3F7D99;
$background-color: black;
$alternative-background-color: #074e57;

$base-font-family: "arno-pro-1", "arno-pro-2", Georgia, "Times New Roman", serif;
$headline-font-family: "trajan-pro-1", "trajan-pro-2", Georgia, "Times New Roman", serif;
$small-font-size: 11px;
$base-font-size: 13px;
$large-font-size: 20px;
$x-large-font-size: 30px;
$base-line-height: 1.231;

// HTML5 boilerplate

@import "html5-boilerplate";
@include html5-boilerplate;

// Global styles used all over the website
// e. g. tags without classes like h1, h2, a, button, form elements, ...

@import "global/extendables";
@import "global/typography";
@import "global/links";
@import "global/buttons";

// Layout (header, footer, global sidebars)

//@import "layouts/default";

// Content partials (article, lists, ...)

@import "partials/site";
