%img#laptop(src="images/laptop.png")
-#%time#date(datetime="2011-06-04") June 4/5 2011
%article#credits
  %h1
    %p
      MOVIE HACK DAY
  
  :markdown
    MOVIEPILOT + DAI LABOR : “MOVIE HACK DAY BERLIN”
    ; JUNE 4TH & 5TH 2011 + BERLINBUZZWORDS
    \* TWO DAYS OF HACKING n MUSIC HACK DAY
    RECOMMENDER SYSTEMS › DATA VISUALIZATIONS + BEER
    ( HACKERS ~ DESIGNERS y DEMO SUNDAY

%article#info{:style=>"font-family: Arial"}
  :markdown 
    ## THE STORY

    THE MOVIE HACK DAY BERLIN IS A FULL WEEKEND OF HACKING ON ALL THINGS MOVIES.
    ANYTHING FROM BUILDING YOUR OWN RECOMMENDER SYSTEM, USING EXISTING SOFTWARE
    LIKE MAHOUT TO CREATE COOL NEW APPLICATIONS OR THROWING TOGETHER A 
    COUPLE OF MOVIE APIS AND MAKING THE NEXT KILLER MYSPACE APP.
    AND EVERYBODY LOVES FANCY DATA VISUALIZATIONS

    ## WHEN & WHERE

    IT TAKES PLACE ON THE WEEKEND BEFORE THE BERLINBUZZWORDS IN THE OFFICES OF MOVIEPILOT, A MOVIE RECOMMENDATION STARTUP BASED IN bERLIN.
    WE’LL BE HACKING SATURDAY, SATURNIGHT AND THROUGH THE WHOLE SUNDAY BEER
    AND PIZZA WILL BE SUPPLIED
    WE MIGHT ALSO WATCH A MOVIE OR TWO

    ## WHY

    THE PURPOSE OF THIS EVENT IS HAVING FUN AND MAKING STUFF, SO THERE’S TWO TYPES OF REGISTRATIONS: HACKER AND SLACKER.
    IN ORDER TO MAKE STUFF, HACKING IS REQUIRED.
    THEREFORE SATURDAY AND SUNDAY IS HACKERS ONLY, SO IF YOU REGISTER AS A HACKER, YOU GOTS TO CODE! iF YOU DON’T WANT TO GET YOUR HANDS DIRTY AND JUST WATCH, HOWEVER, SIGN UP AS A SLACKER AND CHECK OUT THE DEMO SESSION ON SUNDAY.

    AS THERE’S VERY LIMITED SEATS AVAILABLE: ONLY SIGN UP IF YOU REALLY PLAN TO COME.

