%img#laptop(src="images/laptop.png")
%time#date(datetime="2011-06-04") June 4/5 2011
%article#info
  :markdown
    ## About the Movie Hackday

    The @[moviehackday](http://twitter.com/moviehackday) is a full weekend of hacking on all things movies.
    Anything from building your own recommender system, using existing software like Mahout to create cool new applications or throwing together a couple of movie APIs and making the next killer myspace app.
    And everybody loves fancy data visualizations, right?)

    ## When & Where

    It takes place on the weekend before the berlinbuzzwords in the offices of moviepilot, a movie recommendation startup based in Berlin.
    We’ll be hacking Saturday, saturnight and through the whole Sunday (beer and pizza will be supplied).
    We might also watch a movie or two.

    ## Why

    The purpose of this event is having fun and making stuff, so there’s two types of registrations: hacker and slacker.
    In order to make stuff, hacking is required.
    Therefore saturday and sunday is hackers only, so if you register as a hacker, you gots to code! If you don’t want to get your hands dirty and just watch, however, sign up as a slacker and check out the demo session on sunday.

    As there’s very limited seats available: only sign up if you really plan to come.

