html {
  background: $background-color image-url("background.png") center no-repeat fixed;
  background-size: 100%;
  min-height: 100%;
}

body {
  background: image-url("filmstrip.png") 50% 0 repeat-y fixed;
  color: $font-color;
  margin: 0 auto;
  max-width: 800px;
  min-height: 100%;
}

#logo {
  display: block;
  margin: auto;
  padding: 40px 0 10px;
  width: image-width("moviehackday.png");
}

#laptop {
  width: 100%;
}


#info, #credits {
  margin: 0 auto;
  width: 500px;
  h2 {
    letter-spacing: 1px;
    text-align: center;
    @include text-shadow(rgba($alternative-color, 0.7) 0 0 6px);
  }
  p {
    color: darken($font-color, 10%);
    text-align: center;
    @include text-shadow(rgba($alternative-color, 0.5) 0 0 3px);
  }
  a {
    color: inherit;
    font-weight: bold;
  }
}


header {
  display: none;
}

footer {
  color: desaturate(darken($font-color, 60%), 20%);
  margin: 0 auto;
  max-width: 414px;
  padding: 20px;
  text-align: center;
  a {
    color: desaturate(darken($font-color, 50%), 20%);
  }
  small {
    display: inline-block;
    margin: 0 10px;
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
    @media only screen and (max-width: 479px) {
      clear: both;
      display: block;
      float: none !important;
      margin: 1em 0;
      width: 100%;
    }
  }
}
